<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="FromInterfaces" type="Server.Common.Configuration.FromInterfacesSectionHandler,Server.Common.Configuration,Version=1.0,Culture=neutral,PublicKeyToken=null"/>
    <section name="applicationConfigurationManagement" type="Microsoft.ApplicationBlocks.ConfigurationManagement.ConfigurationManagerSectionHandler,Microsoft.ApplicationBlocks.ConfigurationManagement, Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"/>
    <section name="loggingConfigurations" type="Common.Utils.Log.LogSectionHandler,Common.Utils.Log"/>
  </configSections>
  <!-- FromInterfaces -->
  <FromInterfaces>
    <FromInterface name="HANMI_RFID">
      <Location type="Server.ReceiveChannel.TCP.TcpPollingReceiveChannel,Server.ReceiveChannel.TCP" DevName="HANMI_RFID" datamode="1" SOF="2" eof="3" interval="300" timeout="10000" NoTagDelete="FALSE" ip="127.0.0.1" port="15223" authority="RC" start="true" channel="notify" EnableAutoStartReading="true" HandlerType="Server.LocationHandler.TCP.NotificationLocationHandler" HandlerAssembly="Server.LocationHandler.TCP"/>
      <Formatter type="Server.Formatter.CommonMessages.TextDataFormatter,Server.Formatter.CommonMessages"/>
      <Decryption type="UNM.Common.Utils.Crypto.Decryption,UNM.Common.Utils.Crypto"/>
    </FromInterface>
  </FromInterfaces>
  <!-- Logging -->
  <loggingConfigurations>
    <publisher assembly="Common.Utils.Log" type="Common.Utils.Log.FileFolderLogPublisher" level="verbose" folderName="C:\eMap3D\LOG\"/>
  </loggingConfigurations>
  <!-- Application Configuration -->
  <applicationConfigurationManagement>
    <configSection name="FromInterfaces">
      <configCache enabled="true" refresh="1 * * * *"/>
      <configProvider assembly="Microsoft.ApplicationBlocks.ConfigurationManagement,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" type="Microsoft.ApplicationBlocks.ConfigurationManagement.Storage.XmlFileStorage" refreshOnChange="true" signed="false" encrypted="false"/>
    </configSection>
    <configSection name="loggingConfigurations">
      <configCache enabled="true" refresh="1 * * * *"/>
      <configProvider assembly="Microsoft.ApplicationBlocks.ConfigurationManagement,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" type="Microsoft.ApplicationBlocks.ConfigurationManagement.Storage.XmlFileStorage" refreshOnChange="true" signed="false" encrypted="false"/>
      <protectionProvider assembly="Microsoft.ApplicationBlocks.ConfigurationManagement,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null" type="Microsoft.ApplicationBlocks.ConfigurationManagement.DataProtection.BCLDataProtection" hashKeyRegistryPath="" hashKey="MyXuEd6f+go=" symmetricKey="VToaqZjp8C27V90oSmT/CF+afvRGClc9" initializationVector="ou95G2/WziI="/>
    </configSection>
  </applicationConfigurationManagement>
  <appSettings>
    <!-- UNIA Info -->
    <add key="DivString" value="`"/>
    <add key="NETWORK_CHECK_TIME" value="30000"/>
    <add key="PLANTCD" value="1100"/>
    <add key="port" value="65531"/>
    <add key="EOF" value="A"/>
    <add key="SVR_IP" value="220.85.176.52"/>
    <add key="SVR_PORT" value="59101"/>
    <add key="SVR_TIMEOUT" value="30000"/>
    <add key="HDDSPACE_ALERT" value="1000"/>
    <add key="LOGIN" value="FALSE"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
